.filterForm {
	width: 100%;
	max-width: 600px;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.479);
}

.formInput {
	margin-bottom: 15px;
	border: 1px solid rgb(117, 117, 117);
	border-radius: 4px;

	& .inputContainer {
		position: relative;
		display: flex;
		align-items: center;
	}

	& input {
		padding: 2px 5px;
		min-height: 40px;
		padding-left: 30px;
		width: 100%;

		&:focus {
			outline: black;
		}
	}

	& .icon {
		position: absolute;
		font-size: 24px;
		left: 5px;
		top: 8px;
		color: #242424;
		cursor: default;
	}
}

.formSelect {
	margin-bottom: 15px;

	select {
		min-height: 40px;
		width: 100%;
		padding: 8px;
		font-size: 14px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
}

.formButton {
	text-align: center;

	button {
		padding: 10px 20px;
		font-size: 16px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: #0056b3;
		}
	}
}

.clear {
	font-size: 24px;
	position: absolute;
	color: #242424;
	right: 5px;
	cursor: pointer;
	top: 8px;
}
