.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92vh;
	width: 100vw;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.contactCard {
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	max-height: 300px;
}
